.form__button {
  width: 100%;
  width: 238px;
  height: 50px;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  text-align: center;
  color: white;
  background-color: black;
  border: 0;
  border-radius: 2px;
  padding: 0;
  margin: 15px 22px 21px;
  cursor: pointer;
  transition: opacity .2s ease-out;
}

.form__button:hover:not([disabled]) {
  opacity: 80%;
}

@media screen and (min-width: 1280px) {
  .form__button {
    width: 358px;
    font-size: 18px;
    line-height: 22px;
    margin: 18px 36px 36px;
  }
}
