.profile__name {
  max-width: 250px;
  font-size: 27px;
  font-weight: 500;
  line-height: 33px;
  text-align: center;
  color: white;
  padding-top: 26px;
  padding-bottom: 7px;
  padding-left: 30px;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  box-sizing: border-box;
}

@media screen and (min-width: 768px) {
  .profile__name {
    padding-left: 0;
  }
}

@media screen and (min-width: 1280px) {
  .profile__name {
    max-width: 294px;
    font-size: 42px;
    line-height: 48px;
    padding-top: 28px;
  }
}
