.form__input_field_password {
  background-color: transparent;
  color: white;
  border-bottom: 2px solid #CCCCCC;
}

.form__input_field_password::placeholder {
  color: #CCCCCC;
}

.form__input_field_password:-webkit-autofill { 
  -webkit-background-clip: text;
  -webkit-text-fill-color: white;
}