.profile__edit {
  background-image: url(../../../../src/images/edit-mobile.svg);
  min-width: 20px;
  min-height: 20px;
  background-repeat: no-repeat;
  background-color: transparent;
  border: 0;
  padding: 0;
  margin-left: 10px;
  margin-top: 21px;
  cursor: pointer;
  transition: opacity .2s ease-out;
}

.profile__edit:hover {
  opacity: 60%;
}

@media screen and (min-width: 1280px) {
  .profile__edit {
    background-image: url(../../../../src/images/edit-desktop.svg);
    min-width: 24px;
    min-height: 24px;
    margin-left: 18px;
    margin-top: 26px;
  }
}
