.header__email {
  color: white;
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  text-align: center;
}

@media screen and (min-width: 1024px) {
  .header__email {
    margin: 7px 24px 0px 0px;
    text-align: right;
  }
}